@using Umbraco.Cms.Web.Common.PublishedModels
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Models.PublishedContent
@using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<HomePage>

@{
    Layout = "master.cshtml";
    var partnersImages = Model.Value<IEnumerable<IPublishedContent>>("partners");
    var eventItems = Model.Value<IEnumerable<BlockListItem>>("eventCards")?.Select(x => x.Content);
    var companyValues = Model.Value<IEnumerable<BlockListItem>>("companyValues")?.Select(x => x.Content);

}

@section HeroVideo {
    <div class="hero-video">
        <video src="@Model.HeroVideo?.Url()" autoplay muted playsinline loop></video>
        <div class="video-content">
            <h1>@Model.HeroTitle<br><strong>@Model.HeroTitleBold</strong></h1>
        </div>
    </div>
}

<div class="page-title-container">
    <h2>@Model.PageTitle</h2>
    <span>@Model.PageSubtitle</span>
</div>

<div class="big-image">
    <img src="@Model.BigImage?.Url()" alt="">
</div>

<div class="home-cards">
    @if (companyValues != null)
    {
        foreach (var card in companyValues)
        {
            <div class="home-cards-item">
                <div class="top">
                    <div class="icon">
                        <img src="@(card.Value<IPublishedContent>("icon")?.Url() ?? "#")" alt="@(card.Value<string>("title"))">
                    </div>
                    <span class="title">@(card.Value<string>("title"))</span>
                </div>
                <div class="content">
                    <span>@(card.Value<string>("description"))</span>
                </div>
            </div>
        }
    }
</div>

<div class="experience-section">
    <span class="text">@Model.ExperienceText</span>
    <div class="experience-cards">
        @if (Model.ExperienceCards != null)
        {
            @foreach (var card in Model.ExperienceCards)
            {
                var cardContent = card.Content as ExperienceItem;
                @if (cardContent != null){
                    <div class="experience-cards-item">
                        <div class="counter">@cardContent.Counter</div>
                        <span>@cardContent.Description</span>
                    </div>
                }
            }
        }
    </div>
</div>

<div class="services-ctr">
    <div class="page-title-container">
        <h3>@Model.ServicesTitle</h3>
        <span>@Model.ServicesSubtitle</span>
    </div>
    <div class="services-cards">
        @if (Model.ServiceItems != null)
        {
            @foreach (var service in Model.ServiceItems)
            {
                var serviceContent = service.Content as ServiceItem;
                if (serviceContent != null)
                {
                    <div class="services-item">
                        <a href="@serviceContent.CallToActionLink?.Url()"></a>
                        <div class="image">
                            <img src="@serviceContent.ServiceImage?.Url()" alt="">
                        </div>
                        <div class="content">
                            <h5>
                                <div>@serviceContent.ServiceTitle</div>
                                <div class="icon">
                                    @await Html.PartialAsync("Icons/ArrowIcon")
                                </div>
                            </h5>
                            <span>@serviceContent.ServiceDescription</span>
                        </div>
                    </div>
                }
            }
        }
    </div>
</div>

<div class="last-events">
    <div class="page-title-container">
        <h3>@Model.EventsTitle</h3>
        <span>@Model.EventsSubtitle</span>
    </div>

    <div class="last-events-cards">
        <div class="left">
            @if (eventItems != null)
            {
                foreach (var eventItem in eventItems.Take(3))
                {
                    <div class="last-events-card-item">
                        <a href="@(eventItem.Value<IPublishedContent>("eventLink")?.Url() ?? "#")"></a>
                        <div class="image">
                            <img src="@(eventItem.Value<IPublishedContent>("eventImage")?.Url() ?? "#")" alt="@(eventItem.Value<string>("eventTitle"))">
                        </div>
                        <div class="content">
                            <h5>
                                <div>@(eventItem.Value<string>("eventTitle"))</div>
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="32" viewBox="0 0 38 32" fill="none">
                                        <path d="M25.6665 5L36.6665 16L25.6665 27" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M1.6665 16L35.6665 16" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </h5>
                            <span>@(eventItem.Value<string>("eventDescription"))</span>
                        </div>
                    </div>
                }
            }
        </div>
        <div class="right">
            @if (eventItems != null)
            {
                foreach (var eventItem in eventItems.Skip(3).Take(3))
                {
                    <div class="last-events-card-item @(eventItem == eventItems.Skip(3).Take(3).ElementAt(1) ? "bigger" : "")">
                        <a href="@(eventItem.Value<IPublishedContent>("eventLink")?.Url() ?? "#")"></a>
                        <div class="image">
                            <img src="@(eventItem.Value<IPublishedContent>("eventImage")?.Url() ?? "#")" alt="@(eventItem.Value<string>("eventTitle"))">
                        </div>
                        <div class="content">
                            <h5>
                                <div>@(eventItem.Value<string>("eventTitle"))</div>
                                <div class="icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="38" height="32" viewBox="0 0 38 32" fill="none">
                                        <path d="M25.6665 5L36.6665 16L25.6665 27" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                        <path d="M1.6665 16L35.6665 16" stroke="white" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </div>
                            </h5>
                            <span>@(eventItem.Value<string>("eventDescription"))</span>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>

<div class="testimonials">
    <div class="page-title-container">
        <h3>@Model.TestimonialsTitle</h3>
        <span>@Model.TestimonialsSubtitle</span>
    </div>
    <div class="testimonials-inner">
        <div class="left">
            <div class="splide splide-testimonial" role="group">
                <div class="splide__track">
                    <ul class="splide__list">
                        @if (Model.Testimonials != null)
                        {
                            @foreach (var testimonial in Model.Testimonials)
                            {
                                var testimonialContent = testimonial.Content as Testimonial;
                                if (testimonialContent != null)
                                {
                                    <li class="splide__slide">
                                        <span>@testimonialContent.TestimonialText</span>
                                        <h5>@testimonialContent.TestimonialBy</h5>
                                    </li>
                                }
                            }
                        }
                    </ul>
                </div>
                <div class="splide__arrows">
                    @await Html.PartialAsync("Icons/NextArrow")
                    @await Html.PartialAsync("Icons/PrevArrow")
                </div>
            </div>
        </div>
        <div class="right">
            <div class="right-quote">
                <div class="quote-image">
                    <img src="@Model.QuoteImage?.Url()" alt="">
                </div>
                <span class="quote-text">@Model.QuoteText</span>
                <h5 class="quote-author">@Model.QuoteAuthor</h5>
            </div>
        </div>
    </div>
    <div id="image-slider" class="splide brands-area">
        <div class="splide__track">
            <div class="splide__list">
                @if (partnersImages != null)
                {
                    @foreach (var image in partnersImages)
                    {
                        <div class="splide__slide brand-item">
                            <img src="@(image.Url() ?? "#")" alt="">
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

<div class="contact-us">
    <div class="page-title-container">
        <h3>@Model.ContactTitle</h3>
        <span>@Model.ContactSubtitle</span>
    </div>
    <div class="contact-area">
        <div class="contact-area-offices">
            @if (Model.Offices != null)
            {
                @foreach (var office in Model.Offices)
                {
                    var officeContent = office.Content as Office;
                    @if (officeContent != null)
                    {
                    var phoneNumber = officeContent.PhoneNumber;
                    var phoneLink = $"tel:{phoneNumber?.Replace(" ", "")}";
                        <div class="office-item">
                            <h4>@officeContent.OfficeName</h4>
                            <div class="item">
                                <a href="#">
                                    <div class="icon">
                                        @await Html.PartialAsync("Icons/LocationIcon")
                                    </div>
                                    <span>@officeContent.OfficeAddress</span>
                                </a>
                            </div>
                            <div class="item">
                                <a href="@phoneLink">
                                    <div class="icon">
                                        @await Html.PartialAsync("Icons/PhoneIcon")
                                    </div>
                                    <span>@phoneNumber</span>
                                </a>
                            </div>
                        </div>
                    }
                }
            }
        </div>
        <div class="contact-area-form">
            @await Html.PartialAsync("ContactForm")
        </div>
    </div>
</div>

@section BodyScripts {
    <script src="~/Scripts/js/splide-config.js"></script>
}